.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 0 0 calc(33.33% - 18%); /* Each child container takes 1/3 of the parent width with some margin */
  margin-bottom: 20px; /* Add margin between child containers */
  background-color: rgba(155, 155, 155, 1);
  padding: 38px;
  border-radius: 25px;
  margin-top: 20px;
}
